
/* 
    CSS ZA BOOKS PODCAST ID...
*/

.courses{
    background-color: #ff5938;
    text-align: left
}
.courses h1{
    color: white;
    font-size: 60px;
}

.courses span{
    color: white;
    font-size: 22px;
    width: 80%;
}

.courses .course-description{
    position: relative;
    align-self: center;
}

.button_picture{
    overflow: hidden !important;
}

.picture{
    transition: transform .5s;
}

.button_picture:hover img{
    transform: scale(1.1);
}

.product_button{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button_description{
    color:white !important;
    border: solid 1px white !important;
    font-weight: bold !important;
    width: 100px;
    height: 50px;
    align-content: center !important;
    display: inline-grid !important;
}

.button_description:hover{
    color:black !important;
    border: solid 1px white;
    background-color: white;
    font-weight: bold;
    width: 100px;
    height: 50px;
}

/*
     CSS ZA KARTICE I NASLOV IZNAD NJIH
*/

.cards_and_descriptions{
    text-align: -webkit-center;
}

.description_title {
    font-size: 50px;
    width: 40% !important;
} 

.description_text {
    color: dimgray;
    font-size: 20px;
    width: 50% !important;
}

.card_description {
    width: 18rem;
    background-color: white;
    transform: translate(0,-50%);
}

.card_picture{
    overflow: hidden;
}

.card_picture:hover img {
    transform: scale(1.1);
}

.card_link{
    color: #ff5938;
}

/*
    CSS ZA GRUPU SLIKA
*/

.picutre_group {
    padding-right: 30px; 
    padding-left: 30px;
}

/*
    CSS ZA FORMU I LOGO ZNAKOVE
*/

.companies_logos {
    background-color: #f4f4f5 !important;
    text-align: -webkit-center;
}

.form_book{
    position: relative; 
    top: -200px; 
    background-color: white;
    padding-left: 30px; 
    padding-right: 30px;
}

.form_book span {
    color: dimgray;
}

.form_book input {
    height: 50px;
}

.form_book button {
    background-color: #ff5938 ;
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: white;
}

.form_book button:hover {
    background-color: red ;
    color: white;
}

/*
    CSS ZA DESCRIPTION AND INTRUDACTION
*/

.row_following p {
    color: dimgray;
    font-size: 12px;
    position: relative;
    top: -30px;
    left: -275px;
}

.row_following button {
    font-weight: bold;
    height: 50px;
}

.row_following input {
    height: 50px;
    width: 300px;
}

.row_following h1{
    font-size: 40px;
    width: 40%;
}

.following-text {
    color: dimgray;
    text-align: -webkit-center !important; 
}

.introduction-text{
    color: dimgray;
    text-align: -webkit-center !important; 
    font-size: x-large;
}

.introduction-title{
    font-size: 50px;
}

.introduction span{
    color: dimgray;
    text-align: left;
}

.introduction{
    text-align: -webkit-center; 
}

/*
    CSS ZA HEADER
*/

.website_header{
    background-image: url("images/hero-slide.jpeg");
    background-size: cover;
}


.footer a{
    color: dimgray !important;
}

.footer a:hover{
    color: white !important;
}

.slider_button{
    color: white !important; 
    background-color: #ff5938 !important; 
    height: 50px;;
    width: 120px;
    font-weight: bold !important;
    align-content: center !important;
    display: inline-grid !important;
}

.slider_button:hover{
    background-color: red;
    color: white;
}

.start_row span {
    color: white;
    font-size: 20px;
}

.start_row h1{
    color: white;
    font-size: 70px;
    transform: translate(50%,0);
}

.start_row{
    display: flex;
    align-items: center;
}

.header_list_items {
    color: white !important;
    font-weight: bold;
}

.dugme_sing_up {
    background-color: #ff5938 !important; 
    width: 100px;
    transform: scale(0.8);
    font-weight: bold !important;
    color: white !important;
}

.dugme_sing_up:hover {
    background-color: red !important; 
    width: 100px;
    transform: scale(0.8);
    font-weight: bold !important;
    color: white !important;
}

.header_buttom {
    align-self: center;
}

.header_list li {
    padding-left: 10px;
    padding-right: 10px;
}

/*
    CSS ZA FOOTER
*/

.footer{
    background-color: #261f44
}

.footer_body{
    background-color: #261f44; 
    color: white; 
    text-align: left;
}

.footer_body ul{
    list-style-type: none; 
    display: contents; 
}

.footer_form span{
    display: block; 
    width: 300px; 
    color: dimgray;
}

.footer_form button {
    color: white; 
    font-weight: bold;  
    background-color: #ff5938; 
    height: 50px; 
    width: 100px;
}


.footer_form button:hover {
    color: white; 
    background-color: red;
}

.footer_bottom{
    display: inline-block !important; 
    color: dimgray;
}


/*
    CSS ZA DROPDOWN-E
*/

.dropdownitem_header{
    font-size: medium;
    font-weight: bold !important;
    color: black !important;
}
.dropdownitem_header_description{
    color: gray !important;
    font-size: small;
    font-weight: normal !important;
}

.dropdownitem_header_classic{
    font-weight: normal !important;
    color: black !important;
    font-size: medium;
}

.dropdownitem_header_description_version{
    font-size: medium;
    font-weight: bold !important;
    color: orange !important;
}

.utilities_terms{
    font-size: small;
    color: orange !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top:-6px;
}


/*
    CSS ZA JAVASCRIPT
*/

body{
    display: block;
    height: 1500px;
}

.change_color{
    background-color: #261f44 !important;
}



